# Send alerts both with emails (SendGrid) and Slack messages
# It is possible to create an instance of each notifier

# use same value as in backend.tf
aws_profile = "YOUR_AWS_PROFILE"
terraform_backend_s3_bucket = "CHANGEME"
aws_region  = "us-west-2"


global_prefix = "CHANGEME"  # prefix used for all ggcanary resources


SendGrid_notifiers = [{
  source_email_address = "canary@my_domain.org"  # email address to send emails from
  dest_email_addresses   = ["security_email@my_domain.org"]  # email address receiving alerts
  api_key              = "SG.XXXX"  # Account API key
}]

Slack_notifiers = [
  {
    webhook = "REDACTED"  # eg: https://hooks.slack.com/services/CHANGE/ME/FOR_REAL
  },
  {
    webhook = "ANOTHER_REDACTED"
  }
]

