# Send emails with SendGrid
# Go to https://app.sendgrid.com/settings/api_keys to create an API key


# use same value as in backend.tf
aws_profile = "YOUR_AWS_PROFILE"
terraform_backend_s3_bucket = "CHANGEME"
aws_region  = "us-west-2"


global_prefix = "CHANGEME"  # prefix used for all ggcanary resources


SendGrid_notifiers = [{
  source_email_address = "canary@my_domain.org"  # email address to send emails from
  dest_email_address   = "security_email@my_domain.org"  # email address receiving alerts
  api_key              = "sG.XXXX"  # Account API key
}]
