# If you use this backend, you may need to run the configure_s3 script to create the bucket holding the terraform state.

{
  "terraform": {
    "backend": {
      "s3" {
        "profile": "CHANGME",
        "region": "us-west-2",
        "bucket": "CHANGEME",
        "key": "terraform.tfstate",
        "encrypt": "true",
        "dynamodb_table": "ggcanary-terraform-backend"
      }
    }
  }
}