[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"

[dev-packages]
types-boto3 =  "*"
"moto[s3,iam,ses]" = "*"
pytest = "*"
black = "==22.3.0"
flake8 = "*"
ipython = "*"
pre-commit = "*"
coverage = "*"
flake8-isort = "*"
isort = "==5.9.3"
pipfile-requirements = "*"

[requires]
python_version = "3.8"
